
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: nastaran;
    src: url(../font/m.ttf)
}
@layer base{
     body{
        font-family: nastaran;
    }
}
/* //////////////////////////////////// */
@keyframes change-textColor{
  0%{
    color :#2e0936;
  }
  50%{
    color:#6c608f;
  }
  100%{
    color:#0a073b;
  }
}
.animate-textColor{
  
  animation: change-textColor 15s ease infinite
}
